@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-width: 7px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(177, 97, 167), darkorchid) 1;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("assets/delicious-ice-cream-cones.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1.banner_title {
  margin-top: 100px;
  max-width: 660px;
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  text-align: center;
  background: -webkit-linear-gradient(50deg, #72fac4 5%, #7e64ff 30%, #ff6287 77%, #C1FF64 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prompt_container {
  font-size: 1.3rem;
  font-weight: 400;
  color: #AEB5AE;
  line-height: 24px;
  padding: 10px;
  opacity: 0.9;
}

.random_prompts {
  margin: 50px 0 50px 0;
  width: 1200px;
}

.random_prompts button {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 4px;
  padding: 10px;
  border-radius: 10px;

}

form {
  width: 100%;
  max-width: 1280px;
  padding: 10px;
  background: #fff;
  border: #b2b2b3 5px solid;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 30%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 2px solid #fff;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 30px;
  height: 30px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal_content {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  z-index: 1;

}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.close-button {
  position: absolute;
  top: 5%;
  left: 28%;
  font-size: 1.5rem;
  visibility: hidden;
  font-weight: 700;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #fff;
}

.close-button:hover {
  background-color: darkgray;
}

.author_attr {
  position: absolute;
  left: 95%;
  top: 98%
}